*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 600px;
    height: 600px;
    margin: 10px auto 0;
    padding: 10px;
    background-color: rgb(167, 255, 214);
    border: 2px solid green;
    border-radius: 2%;
}
.container > div{
    margin: 15px;
    padding: 5px;
}
/*add*/
.container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}
.container .add{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .add__input{
    width: 90%;
    padding: 2px 5px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid black;
    font-size: 1.2rem;
}
.container .add__input:focus{
    outline: none;
}
.container .add .add__icon{
    display: flex;
    justify-content: right;
    width: 5%;
    padding-left: 10px;
}
.container .add .add__icon i{
    color: rgb(0, 78, 0);
    font-size: 23px;
}
.container .add .add__icon i:hover{
    cursor: pointer;
    color: rgb(0, 141, 0);
}
/*notes*/
.container .notes{
    width: 90%;
    height: 60%;
    margin: 0 auto;
    border: 2px solid green;
    border-radius: 2%;
}
.container .notes .notes__btn{
    display: flex;
    border-bottom: 2px solid green;
}
.container .notes .notes__btn div{
    padding: 0 25px;
    padding-bottom: 5px;
    color: green;
    text-align: center;
}
.container .notes .notes__btn .notes__btn__wait{
    background-color: green;
    color: white;
}
.container .notes .notes__btn div:hover{
    cursor: pointer;
}
.container .notes .notes__itembox{
    margin: 10px;
}
.container .notes .notes__done{
    display: none;
}
.container .notes .notes__wait:active .notes__done{
    display: block;
}
.container .notes .notes__itembox .notes__itembox__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(204, 255, 227);
    border-radius: 5%;
    box-shadow: 1px 1px 1px rgb(70, 70, 70);
}
.container .notes .notes__itembox .notes__itembox__item .notes__itembox__item__text{
    padding-left: 10px;
    color: rgb(0, 78, 0);
    font-size: 1.2rem;
    font-weight: bold;
}
.container .notes .notes__itembox .notes__itembox__item .notes__itembox__item__text .notes__itembox__item__text__input{
    background-color: transparent;
    outline: none;
    border: none;
    color: rgb(0, 78, 0);
    font-weight: bold;
}
.container .notes .notes__itembox .notes__itembox__item .notes__itembox__item__icons{
    display: flex;
    padding-right: 10px;
}
.container .notes .notes__itembox .notes__itembox__item .notes__itembox__item__icons i{
    margin: 5px;
    color: rgb(0, 78, 0);
    font-size: 23px;
}
.container .notes .notes__itembox .notes__itembox__item .notes__itembox__item__icons i:hover{
    cursor: pointer;
    color: rgb(0, 141, 0);
}